<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="/css/style_needs.css">
</head>

<body>
    {{>header}}

    <div class="container">
        <!-- Актуальные потребности -->
        <div class="block need_donors">
            <div class="block_title">
                Актуальные потребности
            </div>
            <div class="hidden">
                <div class="important_item">
                    <div class="filter_title">Фильтры</div>
                    <hr>
                    <form action="/requests/filter" method="post">
                        <div class="form-row">
                                <div class="title_form">Тип питомца</div>
                                <select name="petType" class="input-data">
                                    <option value="">Введите тип</option>
                                    <option value="Собака">Собака</option>
                                    <option value="Кошка">Кошка</option>
                                    <option value="Кролик">Кролик</option>
                                    <option value="Обезьяна">Обезьяна</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="title_form">Укажите группу крови питомца</div>
                                <select name="city" class="input-data">
                                    <option bloodGorups="">Введите группу</option>
                                    {{#each citys}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="title_form">Город</div>
                                <select name="city" class="input-data">
                                    <option value="">Введите город</option>
                                    {{#each citys}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="filter_but_submit">
                                <input type="button" value="Применить">
                            </div>
                            <br>
                            <div class="outline">
                                <input type="button" value="Сбросить" formaction="">
                            </div>
                    </form>
                </div>
            </div>
            <div class="row space-bet baseline">
                <div class="needs_left row wrap space-bet">

                    {{#each requests}}
                    <div class="important_item">
                        <div class="need_donor_head">
                            <div class="row baseline space-bet">
                                <div>
                                    <div class="type_of_pet">{{petType}}</div>
                                    <div class="name_of_pet">{{petName}}</div>
                                </div>
                                <div class="number_of_donors">
                                    2/9 найдено
                                </div>
                            </div>
                        </div>
                        <div class="need_donor_info">
                            <div class="need_donor_info_item row">
                                <img src="/img/location_need_donor.svg" alt="location">
                                {{city}}
                            </div>
                            <div class="need_donor_info_item row">
                                <img src="/img/blood_need_donor.svg" alt="blood">
                                Группа крови: {{bloodGroup}}
                            </div>
                            <div class="need_donor_info_item row">
                                <img src="/img/calendar_need_donor.svg" alt="calendar">
                                до {{dateEndOfSearch}}
                            </div>
                            <div class="need_donor_info_button">
                                <button><a href="#">Помочь</a></button>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
                <div class="needs_right hidden_mobile">
                    <div class="important_item">
                        <div class="filter_title">Фильтры</div>
                        <hr>
                        <form action="/requests/filter" method="post">
                            <div class="form-row">
                                <div class="title_form">Тип питомца</div>
                                <select name="petType" class="input-data">
                                    <option value="">Введите тип</option>
                                    <option value="Собака">Собака</option>
                                    <option value="Кошка">Кошка</option>
                                    <option value="Кролик">Кролик</option>
                                    <option value="Обезьяна">Обезьяна</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="title_form">Укажите группу крови питомца</div>
                                <select name="bloodGroup" class="input-data">
                                    <option value="">Введите группу</option>
                                    {{#each bloodGroups}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="title_form">Город</div>
                                <select name="city" class="input-data">
                                    <option value="">Введите город</option>
                                    {{#each citys}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="filter_but_submit">
                                <input type="submit" value="Применить">
                            </div>
                            <br>
                            <div class="outline">
                                <input type="submit" value="Сбросить" formaction="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>

    <script src="/js/main.js"></script>
</body>

</html>