<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}

    <div class="container row_par">
        {{>settingsMenu}}
        {{>settingsMobileMenu}}
        <div class="cl">
            <div class="parametrs">
                <div class="parametrs_title">Карточка питомца-донора</div>
                <div class="form-row">

                    <form class="form_pas" action="/settings/petAccount/{{proccesPet.id}}" method="post">
                        <div class="form-row">
                            <div class="title_form">Порода питомца</div>
                            <div class="input-data">
                                <input name="breed" type="text" placeholder="Введите породу питомца"
                                    value="{{proccesPet.breed}}" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Имя питомца </div>
                            <div class="input-data">
                                <input name="petName" type="text" placeholder="Введите имя"
                                    value="{{proccesPet.petName}}" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Возраст </div>
                            <div class="input-data">
                                <input name="age" type="text" placeholder="Введите возраст" value="{{proccesPet.age}}"
                                    required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Вес </div>
                            <div class="input-data">
                                <input name="weight" type="text" placeholder="Введите вес" value="{{proccesPet.weight}}"
                                    required>
                            </div>
                        </div>
                        <div class="but_submit moby ">
                            <!-- <button>Следующий шаг</button> -->
                            <input type="submit" value="Сохранить изменения">
                        </div>

                </div>
            </div>
            <div class="right_pas">
                <div class="form-row">
                    <div class="title_form">Действующие прививки</div>
                    <div class="input-data">
                        <input name="vaccinations" type="text" placeholder="Введите привики"
                            value="{{proccesPet.vaccinations}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="title_form margin">Укажите группу крови питомца</div>
                    <div class="input-data">
                        <input name="bloodGroup" type="text" placeholder="Введите группу крови"
                            value="{{proccesPet.bloodGroup}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="small_text margin"><b>Производилось ли переливание крови вашему питомцу?</b> </div>
                    <div class="radio">
                        {{#if proccesPet.bloodTransfusion}}
                        <label><input type="radio" name="bloodTransfusion" value="true" checked> Да</label>
                        <label><input type="radio" name="bloodTransfusion" value="false"> Нет</label>
                        {{else}}
                        <label><input type="radio" name="bloodTransfusion" value="true"> Да</label>
                        <label><input type="radio" name="bloodTransfusion" value="false" checked> Нет</label>
                        {{/if}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="small_text margin"> <b>Фото питомца</b> - <small_text>необязательно</small_text>
                    </div>
                    <div class="small_text red_text"> Загрузить файл (JPG, PNG)</div>
                    <input type="file" name="petAvatar" accept="image/png, image/jpeg" />
                </div>
                <div class="but_submit mobb ">
                    <!-- <button>Следующий шаг</button> -->
                    <input type="submit" value="Сохранить изменения">
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="container">
        {{>footer}}
    </div>
</body>

</html>